$font-family-sans-serif: "Fira Sans", Helvetica, Roboto, Arial, sans-serif;
$font-family-monospace: "Input Mono", Consolas, Courier, monospace;

$header-font-style: italic;

$conto-orange: rgba(246, 138, 31, 1);