/* 
				     __
				    /\/\

   I'M MATTHEW CONTO AND WELCOME TO CSS.
   ======
   © 2015 for matthewconto.com

   Proudly made with:
   - Foundation 5
   - SASS
   - Compass
   - CodeKit

   Find out more about this at matthewconto.com/XXX


 */
 

@font-face {
  font-family: 'Creative Commons';
  src: url('../img/cc.ttf'); /* IE6-IE8 */
}

$font-creative-commons: "Creative Commons";
$font-family-sans-serif: "Fira Sans", Helvetica, Roboto, Arial, sans-serif;
$font-family-monospace: "Input Mono", Consolas, Courier, monospace;

$header-font-style: italic;

$conto-orange: rgba(246, 138, 31, 1);
$conto-blue: rgba(61, 199, 210, 1);
$conto-grey: #404041;
$conto-white: #eee;
$primary-color: $conto-orange;

$secondary-color: $conto-grey;

//$body-bg: $conto-white;

$topbar-height: rem-calc(65px);
$topbar-bg-color: $conto-orange !default;
$topbar-link-bg-active: $secondary-color;
/* $topbar-link-bg-hover: $pgn-green !default;
$topbar-link-color: $pgn-grey;
$topbar-link-color-hover: $pgn-grey;
$topbar-link-color-active: $pgn-grey;
$topbar-link-color-active-hover: $pgn-grey;
$topbar-dropdown-bg: white;
$topbar-link-color-hover: $pgn-grey; */

$topbar-link-text-transform: uppercase;
$topbar-link-weight: 700;