/* 
				     __
				    /\/\

   I'M MATTHEW CONTO AND WELCOME TO CSS.
   ======
   © 2015 for matthewconto.com

   Proudly made with:
   - Foundation 5
   - SASS
   - Compass
   - CodeKit

   Find out more about this at matthewconto.com/XXX


 */
 

header {
	min-height: 100%;
	&.half-header {
		min-height: 50%;
		.row .columns .row {
			margin-top: 15%;
		}
	}
	background: url("../img/header-bg.png") $conto-orange;
	background-blend-mode: color-dodge;

	color: white;
	a {
		color: white;
		transition: padding .25s;
		border-radius: .125em;
		padding: 0 .5em;
		font-style: oblique;
		&:visited {
			color: white;
		}
		&:hover{
			color: $conto-orange;
			font-weight: 500;
			background-color: white;
			padding: .5em .5em;
			transition: padding .25s;
			//box-shadow: 0 .075em .125em #444;
		}
	}
	.row .columns .row {
			margin-top: 35%;
	}

	h1 {
		@media #{$small-only} {
			font-size: 3em;
		}
		font-size: 4em;
	}

	h1,h2{
		color: white;
	}

	.tagline {
		line-height: 1.2em;
	}

}

#body {
	margin-top: 6em;
}

#sidebar {
	ul {
		text-align: right;
		font-style: oblique;
		color: black;
		margin-top: 0em;


		a {
			color: black;
			font-weight: 300;
			//padding: 0;
			&:visited {
				color: black;
			}
		}
		#content-types-list {
			@media #{$small-only} {
				@inherit .inline-list;
			}
			li {
				margin-bottom: 0;
			}
			li a:hover, li a:active, .active {
				font-weight: 400;
				color: $conto-orange;
			}
		}
	}
}

#content-list {
	article {
		margin-bottom: 6em;
	}
	article.portfolio-item {
		// Are you ready for terrible positioning code to get the cool effect? I'm not.
		.portfolio-center-image {
			display: inline-block;
			width: rem-calc(300px);
			height: rem-calc(300px);
			overflow: hidden;

			border: 0 1px 0 0 solid $conto-grey;

			h2 {
				color: white;
			}

			.color-tag-list {
				position: relative;
				left: rem-calc(10px);
				bottom: rem-calc(276px); 
			}		
		}

		ul.dates {
			list-style: none;
			display: list;

			height: rem-calc(300px);
			border-right: 1px solid $conto-grey;
			padding-right: 1rem;
			margin-right: 1rem;
			
			li {
				font-style: oblique;
				color: $conto-grey;
				@media #{$medium-up} {
					//display: inline;
					text-align: right;

				}
			}
			
			.start-date  {
				@media #{$medium-up} {
					
				}

			}
			.end-date {
				@media #{$medium-up} {
					//width: 5rem;
					margin-top: rem-calc(250px);
				}
			}
		}
	}
}

.blogpost {
	padding-top: 4rem;
	padding-bottom: 4rem;
	.row .columns {
		
		a .title {
			@media #{$medium-up} {
				//text-align: right;
			}
			color: $conto-blue;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 1em;
			//margin-bottom: 1em;
			strong {
				color: $conto-orange;
				font-style: normal;
				font-weight: 500;
			}
			border-bottom: rem-calc(2px) solid $conto-orange;
		}
		.date {
			
			color: $conto-blue;
			font-weight: 400;
			font-style: italic;
			margin-bottom: 2rem;
			display: inline-block;
			a {
				text-transform: uppercase;
				font-style: normal;
				font-weight: 500;
				color: $conto-orange;
			}

		}
	}
}

footer {
	background: url("../img/header-bg.png") $conto-blue;
	background-blend-mode: color-dodge;

	color: white;
	.row {
		padding-top: 5rem;
	}
	h1, h2, h3 {
		color: white;
	}
	a {
		color: white;
		transition: padding .25s;
		border-radius: .125em;
		padding: 0 .5em;
		font-style: oblique;
		&:visited {
			color: white;
		}
		&:hover{
			color: $conto-blue;
			font-weight: 500;
			background-color: white;
			padding: .5em .5em;
			font-style: normal;
			transition: padding .25s;
			//box-shadow: 0 .075em .125em #444;
		}
	}
	ul {
		margin-top: 1em;
		list-style: none;
		line-height: 2.5em;
	}
	.credit-line {
		font-weight: 300;
		font-size: 140%;
		span.cc {
			font-style: normal; 
			font-family: $font-creative-commons;
		}
	}
}

/* ===============================
   GENERAL 
   ===============================
*/

.blue {
	color: $conto-blue;
}

.orange {
	color: $conto-orange;
}

.caps {
	text-transform: uppercase;
	font-weight: 400;
}

h2 strong {
	font-style: normal;
}

.tight {
	line-height: 1em;
	margin-bottom: 2em;
}


/* ===============================
   FEATURES 
   ===============================
*/

.color-tag-list {
	$color-tag-size: rem-calc(24px);
	display: inline;
	margin-left: 0;
	margin-bottom: 0;
	height: $color-tag-size;
	li {
		width: $color-tag-size;
		height: $color-tag-size;
		text-decoration: none;
		list-style: none;
		display: inline-block;
		border-width: 0px;
		border-color: white;
		border-style: solid;
	}
}

.thick-list {
	list-style: none;
	margin-left: 0 !important;
	li {
		//margin: 0;
		margin-bottom: 1rem;
		a {
			padding: 1rem;
			display: block;
			color: white;
			background-color: $conto-blue;
			transition: background-color .4s;
			h2 {
				color: white;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 1.5em;
				font-style: normal;
				@media #{$medium-up} {
					display: inline;
				}
			}
			.date {
				@media #{$medium-up} {
					float: right;
					display: inline;
				}
				display: block;
				margin-top: .25rem;
				text-transform: uppercase;
				font-weight: 500;
			}
			&:hover, &:active, .active {
				background-color: $conto-grey;
			}
		}
	}
}

